<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    {% if site.google-verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    {% endif %}

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Google Fonts -->
    <script type="text/javascript">
        WebFontConfig = {
          google: { families: [ 'Nunito:400,700|Open+Sans:400,400italic,600,600italic' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })(); </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
</head>