<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="-lOSWutusBzgPT4JzjZYpzPzHI9js9wfHciufWP5i0E" />

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Google Fonts -->
        <link
        rel="preload"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
        />
        <link
        rel="preload"
        href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
        />
        <noscript>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic&display=swap"
            rel="stylesheet"
            type="text/css"
        />
        <link
        href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap"
        rel="stylesheet"
        type="text/css"
    />
        </noscript>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
</head>